@import '../../../styles/global.module.scss';

.component {
  width: 100%;
  padding: 0 2 * $base-size;
  text-align: center;
}

@media (min-width: 768px) {
  .component {
    padding: 0 4 * $base-size;
  }
}