@import './settings.module.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: $color-background;
  font-family: $font-text;
  font-size: $base-size;
  line-height: 1.7;
  color: $color-dark;
  letter-spacing: 0.6px;
  }
  
a, a:hover, a:visited {
  text-decoration: none;
}
  