/* Colors */
$color-dark: #2c3e50;
$color-light: #fff;
$color-background: #f1c40f;
$color-primary: #3498db;
$color-primary-dark: #2980b9;
$color-secondary: #2ecc71;
$color-secondary-dark: #27ae60;
$color-negative: #e74c3c;

/* Fonts */
$font-header: 'Montserrat', sans-serif;
$font-text: 'Roboto Mono', monospace;;

/* Other */
$radius: 5px;
$base-size: 16px;
$transition: all 0.5s;